
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


body {
    font-family: "Chakra Petch", serif;
    color: #000000;
    background-image: url(https://cdn.pixabay.com/photo/2020/03/02/16/19/vintage-4896141_1280.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    height: 100vh; 
    margin: 0;
    padding: 0;
}


h1 {
    font-size: 2.5rem; 
    color: #222831; 
    text-align: center; 
    letter-spacing: 0.4rem; 
}


section {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-bottom: 3rem; 
}


section input {
    width: 30rem; 
    border: none; 
    padding: 1rem; 
    border-radius: 1.5rem; 
    margin-bottom: 1rem; 
    color: #45474B; 
    font-size: 1rem; 
    box-sizing: border-box; }


section button {
    padding: 0.8rem 1.2rem; 
    border: none; 
    border-radius: 1.5rem; 
    background-color: #30475E; 
    color: #F5F7F8; 
    font-size: 1rem; 
    cursor: pointer; 
}


.resultados-pesquisa {
    width: 60rem; 
    height: 46vh; 
    overflow-y: auto; 
    margin-top: 1rem; 
    padding: 1rem; 
    border-radius: 0.6rem; 
}


.item-resultado {
    background-image: url(https://media.istockphoto.com/id/500135630/pt/foto/velho-textura-de-papel-sujo.jpg?s=1024x1024&w=is&k=20&c=HAOETJP7WpGb96bK8ELEw9uDYZZjioQotrGf_d4ykGE=); 
    border-radius: 0.6rem; 
    padding: 1rem; 
    margin-bottom: 1rem; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}


.item-resultado h2 {
    font-size: 2.0rem; 
    color: #000000; 
}


.item-resultado a {
    text-decoration: none; 
    color: #30475E; 
}


.item-resultado a:hover {
    text-decoration: underline; 
}


.descricao-meta {
    color: #000000; 
    margin: 1.5rem 0; 
}


footer {
    background-image: url(https://media.istockphoto.com/id/500135630/pt/foto/velho-textura-de-papel-sujo.jpg?s=1024x1024&w=is&k=20&c=HAOETJP7WpGb96bK8ELEw9uDYZZjioQotrGf_d4ykGE=); 
    color: #000000;
    text-align: center; 
    padding: 0; 
    width: 100%; 
    position: absolute; 
    bottom: 0; 
    font-size: 1rem; 
}